<!-- %Tag(FULL)%-->
<launch>
  <param name="subsample" value="2" type="int"/>
  
  <!-- ARM5Grabber  -->
  <node pkg="ARM5Grabber" type="ARM5Grabber" name="ARM5Grabber">
    <remap from="/arm5e/camera" to="/arm5e/image_raw"/>
  </node>

  <!-- node for image undistorting -->
  <node ns="arm5e" pkg="image_proc" type="image_proc"
          name="image_proc" />

</launch>
<!-- %EndTag(FULL)%-->
